.user{
    border: 2px solid olive;
    margin-bottom: 10px;
    border-radius: 5px;
}
.mb{
    margin-bottom: 10px;
    background-color: green;
    color: white;
}
.mb:hover{
    background-color: white;
    color: black;
}